@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;600&display=swap');

.app {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 100;
  height: 100%;
}

.context-editor-wrapper {
  display: flex;
  justify-content: space-between;
  height: 91.5%;
  padding-top: 1.5em;
}