.context-selector {
  width: 40%;
}

.context-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.context {
  padding: 2.5em 0 2.5em 1em;
  margin: 0 0 2.5em 2.5em;
  border: 2.5px solid black;
  border-radius: 3px;
}

.context:focus {
  border-color: #218380;
}