.container {
}

.main {
  padding-left: 4rem;
  padding-top: 4rem;
}

.main p {
  margin-bottom: 1rem;
}

.main h1 {
  font-weight: 700;
}

.main a {
  color: hsl(30, 56%, 29%);
}

.footer {
}

.section {
  margin-bottom: 2rem;
  width: 40%;
}