.promptWrapper {
  overflow: auto;
  display: flex;
  flex-grow: initial;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.prompt {
  min-width: 500px;
}

.promptWrapper::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}