.promptSelector {
  padding-top: 2rem;
}

.promptWrapper {
  overflow: auto;
  display: flex;
  flex-grow: initial;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.title {
  margin-left: 3.25rem;
}

.prompt {
  min-width: 500px;
}

.promptWrapper::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

@media (max-width: 480px){
  .promptWrapper {
    flex-direction: column;
  }
  .title {
    margin-left: 1rem;
  }
}